
<li data-id="{{id}}">
	<div class="row valign-wrapper">
		<div class="col s4 img-box valign-wrapper">
			<img class="burger-img pulse" data-id="{{id}}" src={{img}}>
		</div>
		<div class="col s4 valign-wrapper">
			<h4>{{burger_name}}</h4>
		</div>
		<div class="col s4 change-devoured valign-wrapper" data-id="{{id}}" data-devouredstate="{{devoured}}">
			<a class="waves-effect waves-light btn {{#if devoured}}indigo{{else}}orange{{/if}} darken-4">
				{{#if devoured}}Nom Nom!{{else}}Order{{/if}}
			</a>
		</div>
	</div>
</li>
<div class="divider"></div>