
<li data-id="{{id}}">
	<div class="row valign-wrapper">
		<div class="col m6 valign-wrapper">
			{{burger_name}}
		</div>
		<div class="col m4 valign-wrapper">
			<a class="change-devoured waves-effect waves-light btn orange darken-4" data-id="{{id}}" data-devouredState="{{devoured}}">
				{{#if devoured}}Nom Nom!{{else}}Eat Me!{{/if}}
			</a>
		</div>
	</div>
</li>
<div class="divider"></div>